################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Part1/obj
/Part1/bin/Debug/netcoreapp3.1
/.vs/OODesign
/PainterApp/obj
/PainterApp/bin/Debug/netcoreapp3.1
/ImmutableObjects/obj
/ImmutableObjects/bin/Debug/netcoreapp3.1
